@font-face {
  font-family: 'Prstart';
  font-style: normal;
  font-weight: normal;
  src: local('Prstart'), url('assets/Prstart.ttf') format('truetype');
}

head, body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #232323;
  color: white;
  font-family: 'Prstart';
}

canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 0;
}

.bar {
  position: fixed;
  width: 200px;
  height: 8px;
  z-index: 1;
}

#plr0bar {
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 379px), calc(-50% + 285px));
}
#plr1bar {
  transform: translateX(253px);
}
#plr2bar {
  transform: translateX(253px);
}
#plr3bar {
  transform: translateX(253px);
}
